.banner {
    position: absolute;
    z-index: 1;
    user-select: none;
    width: 100%;
    height: 16rem;
    top: 3.75rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: banner-motion-blur 1s ease;

    h1 {
        text-shadow: 0 0 0.8rem black;
        animation: banner-text 0.75s ease;
    }
}

.banner-background {
    position: relative;
    user-select: none;
    border-bottom: 1px solid var(--color-zinc-800);
    overflow: hidden;
    height: 16rem;
    animation: banner-color 1.5s ease;

    .banner-bgimg {
        position: absolute;
        height: 16rem;
        width: 100%;
        background: url('../img/banner.jpg');
        background-size: cover;
        animation: banner-scale 0.75s ease;
    }
}

@keyframes banner-text {
    0% {
        filter: grayscale(100%);
        scale: 0.75;
    }

    100% {
        filter: grayscale(0);
        scale: 1;
    }
}

@keyframes banner-color {
    0% {
        filter: grayscale(100%);
    }

    100% {
        filter: grayscale(0);
    }
}

@keyframes banner-scale {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes banner-motion-blur {
    0% {
        backdrop-filter: blur(16px);
    }

    100% {
        backdrop-filter: blur(0);
    }
}