@import "tailwindcss";

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'Excluded';
  src: url('assets/zyneon/fonts/Excluded.ttf') format('truetype');
}

@font-face {
  font-family: 'ExcludedItalic';
  src: url('assets/zyneon/fonts/ExcludedItalic.ttf') format('truetype');
}

.excluded {
  font-family: 'Excluded', var(--sans), sans-serif;
}

.excluded-italic {
  font-family: 'ExcludedItalic', var(--sans), sans-serif;
}

body {
    margin: 0;
}